* {
    @font-face {
        font-family: 'Roboto'; 
        src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    }
}

body {

display: flex;
flex-direction: column;
margin: 0;
height: 100vh;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
 
}

a {
    text-decoration: none;
    color: #E5E7EB;


}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding-bottom: 100px;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
   
}


.logo {
display: flex;
    width: 65px;
    height: 65px;
    padding-top: 5px;
}

.logo-text {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 100px;
}

.hero-container {
    display: flex;
    align-items: flex-start;
    background-color: #1F2937;
    justify-content: center;
    padding-bottom: 100px;

}

.hero-main {
    display: flex;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    width: 300px;
}

.hero-small {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    font-size: 24px;
    width: 400px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2563EB;
    color: #F9FAF8;
    width: 200px;
    height: 50px;
    border-radius: 8px;
}

.header-image {
    display: flex;
    align-self: flex-end;
    width: 600px;
    height: 300px;
    margin-left: 100px;
    margin-bottom: 50px;
    border: 1px solid #E5E7EB;
}